
<main>
    <header>
        <div class="container-headerpage">
            <button (click)="btnBack()"><i class="fas fa-arrow-left"></i></button>
            <h2>My cart</h2>
        </div>
    </header>
    <section class="container-allcardsProd">
        <div class="container-cardProd" *ngFor="let product of cart">
            <div class="img-products-container">
                <img class="img-products" src="{{product.data.image}}">
            </div>
            <div class="products-info">
                <p>{{product.data.title | slice:0:20}}</p>
                <p class="price-tag">${{product.data.price}}</p>
                <button>+</button>
                <button>{{product.amount}}</button>
                <button>-</button>
            </div>
        </div>

    </section>
    <footer>
        <h3>Total</h3>
        <p>$300</p>
        <button>Buy Now</button>
    </footer>
</main>