
<!------------------ Tarjetas de los Productos -------------------->
<section class="container-allProducts" *ngIf="filteredProducts.length<1; else template">
    <div class="container-products" *ngFor="let item of data" (click)="addCart(item.id, item)">

            <div class="img-products-container">
                <img class="img-products" src="{{item.image}}">
                </div>

            <div class="container-info">
                <p>{{item.title | slice:0:20}}</p>
                <p class="tag-price">${{item.price}}</p>
                </div>
    </div>
</section>
<ng-template #template>
    <section class="container-allProducts">
        <div class="container-products" *ngFor="let product of filteredProducts">
                <div class="img-products-container">
                    <img class="img-products" src="{{product.image}}">
                    </div>
                <div class="container-info">
                    <p>{{product.title | slice:0:20}}</p>
                    <p class="tag-price">${{product.price}}</p>
                    </div>
        </div>
    </section>
</ng-template>