main
    height: 100vw

.container-allProducts
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center
    justify-content: center
    align-content: center
    gap: 20px

.container-products
    display: grid
    width: 45%
    height: 214px
    background: #F8F8F8
    border-radius: 10px
    justify-items: center
.img-products-container
    position: relative
    width: 100px
    height: 100px
    overflow: hidden
    background: #F8F8F8
    .img-products
        width: 50px
        position: absolute
        left: -100%
        right: -100%
        top: -100%
        bottom: -100%
        margin: auto
.container-info
    background: white
    width: 80%
    border-radius: 5px
.container-header-prod
    display: flex
    align-items: center
    gap: 40px