section
    margin-bottom: 30px

.container-buttons
    button
        background: #F3F3F3
        border: none
        outline: none
        width: 93px
        height: 95px
        border-radius: 10px
    button:hover
        background: orange
        color: white

.container-filters
    display: flex
    gap: 10px
.fa-tshirt
    font-size: 50px