<section (click)="getClass($event)">
    <h2>Top Categories</h2>
    <div class="container-filters">
        <div class="container-buttons">
            <button class="electronics">
                <i class="fas fa-desktop"></i>
                <p>Electronics</p>
            </button>
        </div>

        <div class="container-buttons">
            <button class="jewelery">
                <i class="fas fa-crown"></i>
                <p>Jewelery</p>
            </button>
        </div>

        <div class="container-buttons">
            <button class="men's clothing">
                <i class="fas fa-tshirt"></i>
                <p>Men's</p>
            </button>
        </div>

        <div class="container-buttons">
            <button class="women's clothing">
                <i class="fas fa-female"></i>
                <p>Women's</p>
            </button>
        </div>
    </div>


</section>