section
    margin-bottom: 30px

.container-buttons
    button
        background: #F3F3F3
        border: none
        outline: none
        width: 80px
        height: 80px
        border-radius: 10px
    button:hover
        background: orange
        color: white

.container-filters
    display: flex
    background: white
    flex-wrap: nowrap
    flex-direction: row
    align-items: center
    justify-content: space-evenly
.fa-tshirt,.fa-crown,.fa-desktop,.fa-female
    font-size: 40px
p
    margin: 3px 0 0 0
    padding: 1px
h2
    font-family: "Poppins", sans-serif
    font-size: 20px
    margin-left: 20px