
    <main>
        <img src="../assets/img/login.svg">
        <h3>Get's started</h3>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <label for="email">Email address</label>
            <input type="text" id="email" formControlName="email" placeholder="Ingresa tu email">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" placeholder="Ingresa tu password">
            <button type="submit" > Sing In</button>
        </form>

    </main>
