<main>

    <!-------------------- Buscador ------------------>
    <section>
        <h2>Hello Rocky</h2>
    </section>

    <!------------------ Filtro de categorias ------------------>
    <section>
        <h2>Top categories</h2>
    </section>

    <!------------------ Productos -------------------->
    <section class="container-allProducts">
        <div class="container-products" *ngFor="let item of data">
            <div class="container-header-prod">
                <p>30%OFF</p>
                <i class="fas fa-heart"></i>
            </div>

            <div class="img-products-container">
                <img class="img-products" src="{{item.image}}">
            </div>

            <div class="container-info">
                <p>product-name</p>
                <p>{{item.price}}</p>
            </div>
        </div>
    </section>

</main>
<!-- <app-footer></app-footer> -->