$main-color: #EC6814
$gray-color: #CCCCCC
$orange-light-color: #FDF1E7
$font-main: "Poppins", sans-serif

footer
    display: flex
    justify-content: space-around
    font-family: "Poppins", sans-serif
    position: fixed
    width: 100%
    background: white
    height: 50px
    bottom: 0px
    align-items: center
    button
        border: none
        outline: none
        background-color: transparent
        cursor: pointer
        font-size: 15px
        color: #CCCCCC
        padding: 10px
        height: 50px
        font-family: "Poppins", sans-serif
        i
            color: $gray-color
            font-size: 20px
    button:hover
        background-color: $orange-light-color
        border-radius: 5px
        color: $main-color
        i
            color: $main-color